USE [BD_PortfolioDEV]
GO
/****** Object:  User [adminTarde]    Script Date: 03/02/2025 17:39:54 ******/
CREATE USER [adminTarde] FOR LOGIN [adminTarde] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tb_Servico]    Script Date: 03/02/2025 17:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Servico](
	[IdServico] [int] IDENTITY(1,1) NOT NULL,
	[TipoServico] [varchar](500) NOT NULL,
	[Valor] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Tb_Servico] PRIMARY KEY CLUSTERED 
(
	[IdServico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Usuario]    Script Date: 03/02/2025 17:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](500) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[Telefone] [varchar](100) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[TipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tb_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Agendamento]    Script Date: 03/02/2025 17:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Agendamento](
	[IdAgendamento] [int] IDENTITY(1,1) NOT NULL,
	[DtHoraAgendamento] [datetime] NOT NULL,
	[DataAtendimento] [date] NOT NULL,
	[Horario] [time](7) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdServico] [int] NOT NULL,
 CONSTRAINT [PK_Tb_Agendamento] PRIMARY KEY CLUSTERED 
(
	[IdAgendamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewAgendamento]    Script Date: 03/02/2025 17:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewAgendamento]
AS
SELECT        dbo.Tb_Usuario.Nome, dbo.Tb_Usuario.Email, dbo.Tb_Usuario.Telefone, dbo.Tb_Usuario.Senha, dbo.Tb_Usuario.TipoUsuario, dbo.Tb_Servico.TipoServico, dbo.Tb_Servico.Valor, dbo.Tb_Agendamento.IdAgendamento, 
                         dbo.Tb_Agendamento.DtHoraAgendamento, dbo.Tb_Agendamento.DataAtendimento, dbo.Tb_Agendamento.Horario
FROM            dbo.Tb_Agendamento INNER JOIN
                         dbo.Tb_Servico ON dbo.Tb_Agendamento.IdServico = dbo.Tb_Servico.IdServico INNER JOIN
                         dbo.Tb_Usuario ON dbo.Tb_Agendamento.IdUsuario = dbo.Tb_Usuario.IdUsuario
GO
ALTER TABLE [dbo].[Tb_Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Agendamento_Tb_Servico] FOREIGN KEY([IdServico])
REFERENCES [dbo].[Tb_Servico] ([IdServico])
GO
ALTER TABLE [dbo].[Tb_Agendamento] CHECK CONSTRAINT [FK_Tb_Agendamento_Tb_Servico]
GO
ALTER TABLE [dbo].[Tb_Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Agendamento_Tb_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Tb_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Tb_Agendamento] CHECK CONSTRAINT [FK_Tb_Agendamento_Tb_Usuario]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Tb_Agendamento"
            Begin Extent = 
               Top = 10
               Left = 366
               Bottom = 140
               Right = 569
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Tb_Servico"
            Begin Extent = 
               Top = 170
               Left = 104
               Bottom = 283
               Right = 301
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Tb_Usuario"
            Begin Extent = 
               Top = 167
               Left = 624
               Bottom = 297
               Right = 821
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAgendamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAgendamento'
GO
