
<body>


    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->



    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>Ola!</h2>
                    <h1>Eu sou um <span class="typing-text"></span></h1>
                    <p>Especialista em dados. Conhecimentos em Analise e Administração de dados. Construindo uma base em Tecnologia Cloud</p>
                    <p>
                        <b>Missão:</b> Trazer sites inovadores e mordernos. Banco de Dados bem planejados e de facil coleta para analises de dados.
                        | <b>Valores:</b> Pontualidade, Veracidade e Integridade
                    </p>
                    <a href="#about" class="btn">sobre mim <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/Home/Arthur 3.jpg" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->


    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/Home/Arthur 2-resize.jpg" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Meu nome é Arthur</h2>
                <p>
                    Formando em ADS, sempre tive afinidade na area de dados e em estatistica. Com essa afinidade me guiando,
                    eu decidi me especializar em Analise e Administração de dados. Atualmente
                    estou construindo uma base em Tecnologia Cloud para ampliar meus conhecimentos e
                    habilidades.
                </p>

                <div class="about-info">

                    <div class="info">
                        <h4>idade: <span>29</span></h4>
                        <h4>genero: <span>masculino</span></h4>
                        <h4>linguagem: <span>portugues e ingles</span></h4>
                        <h4>Trabalho: <span>DBA</span></h4>
                        <h4>freelance: <span>disponivel</span></h4>
                        <a href="#" class="btn">download CV <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="2">2+</h1>
                            <h3>anos de experiencias</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="15">15+</h1>
                            <h3>projetos completados</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="10">10+</h1>
                            <h3>Clientes Satisfeitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="4">4+</h1>
                            <h3>artigos publicados</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>my <span>skills</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>HTML5<span> 95% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>CSS3<span> 70% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Bootstrap<span> 65% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>MySQL<span> 85% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>GDC<span> 65% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Azure<span> 60% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->


    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Minhas <span>qualificações</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2023 - 2025</span>
                        <h3>Analise e Desenvolvimento de Sistemas</h3>
                        <p>Curso completado no Centro Universitario de Brasilia - CEUB.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2023 -2025</span>
                        <h3>Tecnico em Informatica em Internet</h3>
                        <p>
                            Curso completado no SENAI SIG Brasilia, focado em desenvolvimentos de sites front e back.
                            Formação FullStack.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2024 - 2024</span>
                        <h3>Qualificicador em Administrador de Banco de Dados</h3>
                        <p>Vivencia e aprendizado em criação de banco de dados, trigger, funtions, selects avançados</p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2024 - 2024</span>
                        <h3>Cloud Engineer</h3>
                        <p>Curso na Google for eduacation em Cloud Storage e Arquitetura</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2024 - 2024</span>
                        <h3>FullStack</h3>
                        <p>Curso em FullStack pela Mimo.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2024 - 2028</span>
                        <h3>Sistema de Informação</h3>
                        <p>Curso de bacharelado em andamento na faculdade UnDF</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-------------------- Qualification Area (End) -------------------->


    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Meus <span>Serviços</span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fas fa-code"></i>
                <h3>Construção completa de sites - Front e Back</h3>
                <p>
                    Nosso serviço de construção de sites abrange tanto o front-end quanto o back-end,
                    garantindo que seu site não apenas tenha uma interface atraente e intuitiva,
                    mas também um desempenho sólido e confiável.
                    Utilizamos as mais recentes tecnologias e práticas recomendadas para criar sites responsivos, seguros e otimizados para SEO.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-database" aria-hidden="true"></i>
                <h3>Construção e Projeção de Banco de Dados</h3>
                <p>
                    Uma infraestrutura de banco de dados bem projetada é crucial para o armazenamento e a recuperação eficiente de dados.
                    Oferecemos serviços de construção e projeção de bancos de dados que atendem às necessidades específicas do seu negócio,
                    garantindo escalabilidade, integridade e desempenho.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-cloud" aria-hidden="true"></i>
                <h3>Migração para cloud</h3>
                <p>
                    A migração para a nuvem pode trazer inúmeros benefícios, incluindo maior flexibilidade, escalabilidade e redução de custos.
                    Nossa equipe especializada cuida de todo o processo de migração, desde o planejamento até a execução, minimizando interrupções e
                    garantindo uma transição suave para a nuvem.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-server" aria-hidden="true"></i>
                <h3>Administração e Analise de Bancos de Dados</h3>
                <p>
                    Manter seus bancos de dados funcionando de maneira eficiente e segura é essencial.
                    Oferecemos serviços de administração e análise de bancos de dados, monitorando constantemente o desempenho,
                    realizando manutenções preventivas e otimizando suas operações para maximizar a eficiência.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-object-group" aria-hidden="true"></i>
                <h3>Criação de Dashboards</h3>
                <p>
                    Para tomar decisões informadas, é fundamental ter acesso a dados claros e visuais.
                    Criamos dashboards personalizados que transformam seus dados em insights acionáveis,
                    ajudando você a acompanhar métricas-chave e a tomar decisões estratégicas com facilidade.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-headphones" aria-hidden="true"></i>
                <h3>Suporte pos-execução</h3>
                <p>
                    Nosso compromisso não termina com a entrega do projeto.
                    Oferecemos suporte pós-execução para garantir que suas soluções continuem funcionando perfeitamente.
                    Nossa equipe está disponível para resolver qualquer problema,
                    realizar atualizações e fornecer assistência contínua conforme necessário.
                </p>
            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->


    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>Meu <span>portfolio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">todos</li>
                <li class="button btn" data-filter="web">sites - Front e Back</li>
                <li class="button btn" data-filter="construcao">Construção e Projeção de Banco de Dados</li>
                <li class="button btn" data-filter="migracao">Migração para cloud</li>
                <li class="button btn" data-filter="administracao">Administração e Analise de Bancos de Dados</li>
                <li class="button btn" data-filter="dashboard">Criação de Dashboards</li>
                <li class="button btn" data-filter="suporte">Suporte pos-execução</li>
            </ul>

            <div class="box-container">

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/frontend.png" alt="Portfolio-frontend" />
                    <div class="content">
                        <h4>Front-end</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/frontend.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/backend.webp" alt="Portfolio-backend" />
                    <div class="content">
                        <h4>Back-end</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/backend.webp" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image construcao">
                    <img src="~/images/Portfolio/construcao.webp" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Construção de Banco de Dados</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/construcao.webp" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image construcao">
                    <img src="~/images/Portfolio/projetar.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Projeção de Banco de Dados</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/projetar.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image migracao">
                    <img src="~/images/Portfolio/migrar-nuvem.webp" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Migração para cloud</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/migrar-nuvem.webp" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image administracao">
                    <img src="~/images/Portfolio/DBA.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Administração de Bancos de Dados</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/DBA.jpg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image administracao">
                    <img src="~/images/Portfolio/AnaliseDados.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Analise de Bancos de Dados</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/AnaliseDados.jpg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image dashboard">
                    <img src="~/images/Portfolio/dashboard.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Criação de Dashboards</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/dashboard.avif" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image suporte">
                    <img src="~/images/Portfolio/suporte.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Suporte pos-execução</h4>
                        <p>category</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/suporte.jpg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->


    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa-1.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Excelente em análise de dados. Transformou nossos relatórios em insights valiosos. Recomendo fortemente!
                    </p>

                    <div class="intro">
                        <h3>Ana Silva</h3>
                        <h5>web developer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa-2.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Profissional de DBA excepcional. Nossa base de dados nunca esteve tão eficiente.
                    </p>

                    <div class="intro">
                        <h3>João Pereira</h3>
                        <h5>freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa-3.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Especialista em soluções de nuvem. Migração perfeita, sem falhas.
                    </p>

                    <div class="intro">
                        <h3>Mariana Costa</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa-4.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Habilidades de análise de dados impressionantes. Nossos processos estão mais otimizados.
                    </p>

                    <div class="intro">
                        <h3>Carlos Fernandes</h3>
                        <h5>freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa-5.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Serviço de DBA impecável. Manutenção e desempenho sempre no topo.
                    </p>

                    <div class="intro">
                        <h3>Fernanda Oliveira</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa-6.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Perito em nuvem. Melhorou nossa infraestrutura significativamente.
                    </p>

                    <div class="intro">
                        <h3>Lucas Almeida</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->


    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2>Meus <span>artigos</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <!--Fullstack-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/fullstack.png" alt="Blog-Image" sizes="400 600">
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>18/08/2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>EQUIPE TOTVS</span></h5>
                        </div>
                        <a class="main-heading" href="https://www.totvs.com/blog/carreiras/desenvolvedor-full-stack/">O que é desenvolvedor full stack?</a>
                        <p>
                            O que é desenvolvedor full stack, o que faz, salário, habilidades e muito mais!
                        </p>
                        <br>
                        <a href="https://www.totvs.com/blog/carreiras/desenvolvedor-full-stack/" class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <!--Construtor de site-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/construcao.webp" alt="Blog-Image">
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>09/02/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Danielle Oliveira</span></h5>
                        </div>
                        <a class="main-heading" href="#">Banco de Dados: </a>
                        <p>
                            o que é, principais tipos e um guia para iniciar.
                            Se você já teve curiosidade sobre o universo dos banco de dados
                        </p>
                        <br>
                        <a href="https://www.alura.com.br/artigos/banco-de-dados" class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <!--Migração nuvem-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/migrar-nuvem.webp" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>01/04/2021</span></h5>
                            <h5><i class="fas fa-user"></i><span>Carolina Unzelte</span></h5>
                        </div>
                        <a class="main-heading" href="#">Afinal, como migrar para a nuvem?</a>
                        <p>
                            Sistemas de cloud para empresas têm sido encarados como essenciais para a transformação digital.
                        </p>
                        <br>
                        <a href="https://epocanegocios.globo.com/Tecnologia/noticia/2021/04/afinal-como-migrar-para-nuvem.html" class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <!--Analise de Bancos de Dados-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/analise-de-dados.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>06/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Dino</span></h5>
                        </div>
                        <a class="main-heading" href="https://oglobo.globo.com/patrocinado/dino/noticia/2024/06/06/analise-de-dados-pode-garantir-o-crescimento-das-empresas.ghtml">Análise de dados para crescimento das empresas</a>
                        <p>
                            Em um mundo cada vez mais conectado pelos avanços tecnológicos, é crucial buscar acesso a dados em tempo real, visualizações intuitivas...
                        </p>
                        <br>
                        <a href="https://oglobo.globo.com/patrocinado/dino/noticia/2024/06/06/analise-de-dados-pode-garantir-o-crescimento-das-empresas.ghtml" class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <!--Criação de Dashboards-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/dashboard.webp" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>02/05/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Branded Content</span></h5>
                        </div>
                        <a class="main-heading" href="https://www.mundodomarketing.com.br/analise-de-dados-no-marketing-digital-criando-dashboards-valiosos-e-campanhas-efetivas/">Análise de Dados no Marketing Digital:</a>
                        <p>
                            Bitrix24 CoPilot otimiza rotina do profissional de Marketing que precisa gerar insights e atender os clientes de maneira ágil
                        </p>
                        <br>
                        <a href="https://www.mundodomarketing.com.br/analise-de-dados-no-marketing-digital-criando-dashboards-valiosos-e-campanhas-efetivas/" class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <!--Suporte pos-execução-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/suporte-ao-cliente.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>22/03/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Zendesk</span></h5>
                        </div>
                        <a class="main-heading" href="https://www.zendesk.com.br/blog/suporte-ao-cliente/">O que é suporte ao cliente? Quais seus benefícios?</a>
                        <p>
                            Quando se fala em suporte ao cliente, é comum associarmos o termo ao atendimento de demandas oriundas da jornada do consumidor...
                        </p>
                        <br>
                        <a href="https://www.zendesk.com.br/blog/suporte-ao-cliente/" class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->


    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Fale</span> Comigo</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Entre em contato</h3>

                <p>Esperando o seu contato, para melhorar a sua empresa!</p>

                <div class="info-item">
                    <h4>Telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+11-99999-9999</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+11-2222-3333</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>Email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">arthur@gmail.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">arthur@outlook.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/arthursenai</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/arthursenai</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="name" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="subject" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="message"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">envie a mensagem</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->




    <!-- JQuery -->
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>

    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>

    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['FullStack', 'Database Administrador', 'Database Analista', 'Data Cloud Engineer', 'Criador de Dashboard', 'suporte pos venda'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: '~/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>

    <!--Submenu-->
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>

</body>
